{% extends "base.html" %}
{%load filter%}
{% block content %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.css">
<style>
  .container{background-color: #fff;}


  </style>

<div style="width:90%;">

<div style="float:right;font-size:20px;padding:5px;max-width:800px;min-width:500px;">
{{login_user.name}}    <a style="font-size:14px;" href="{% url 'User:changePW' %}">改密码></a>
</div>

</div>
<div style="clear:both;">
<table  id="datatable" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>序号</th><th>名字</th><th>性别</th><th>城市</th><th>年级</th><th>referrer</th><th>听课数</th><th>在班</th><th>付费</th>
  </tr>
  </thead>
  <tbody>
  {%for user in users%}
  <tr>
    <td></td>
    <td >
      {{user.name}}|{{user.name2|default:''}}
    </td>
    <td>{{user.gender|default:''}}</td>
    <td>{{user.location}}</td>
    <td>{{user.grade|default:""}}</td>
    <td>{{user.referrerName|default:""}}</td>
    <td><a target="_blank" href="{% url 'User:profile' %}?userId={{user.id}}">{{user.lessons|default:''}}</a></td>
    <td>{%if user.inClass == 1%}是{%endif%}</td>
    <td></td>
  </tr>
  {%endfor%}
  </tbody>
</table>
</div>




{% endblock %}

{% block scripts %}
<script>


  $(document).ready(function () {
    console.log($( document ).width());
    console.log($( window ).width());
    var wid = $( document ).width();
    $(".header").css("width",wid);
    wid = $( window ).width()/3*0.9;
    $(".week").css("width",wid);
    console.log(wid);
    var t = $('#datatable').DataTable({
        columnDefs: [
            {
                searchable: false,
                orderable: false,
                targets: 0,
            },
        ],
        order: [[1, 'asc']],
        "paging":   false,
        "searching": false,
        "info":false,

          dom: 'Bfrtip',
          buttons: [
            { extend: 'copy', text: '复制' },
            { extend: 'csv', text: '保存' },
            { extend: 'print', text: '打印' }
          ]
      });
      t.on('order.dt search.dt', function () {
              let i = 1;

              t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                  this.data(i++);
              });
          }).draw();

  });
  //$( ".block" ).animate({ "left": "-=70px" }, "fast" );


</script>
{% endblock %}
