{% extends "base.html" %}
{%load filter%}
{% block content %}
<style>
  .h3p{width:100%;margin:10px 0 0 0 ;background-color:#eee;}
  .input{font-size:18px;padding:5px;}
</style>
<div style="height:10px;"></div>
<div class="input"><input id="isReferrer" type="checkbox" {% if user.isReferrer == 1%}checked{%endif%}>isReferrer</div>

<div class="input">name&nbsp;<input id="name" value="{{user.name}}" /></div>
<div class="input">name2&nbsp;<input id="name2" value="{{user.name2|default:''}}" /></div>
<div class="input">
    location&nbsp;<input id="location" value="{{user.location|default:''}}" />
    referrer&nbsp;<select id="referrer"><option value="0" selected>请选择</option>
        {%for ref in refs%}
      <option value="{{ref.id}}" {%if user.referrer == ref.id|stringformat:"s"%}selected{%endif%} >{{ref.name}}</option>
        {%endfor%}
    </select>
</div>
<div class="input">timezone&nbsp;<input id="timezone" value="{{user.timezone|default:''}}" /></div>
<div class="input">gender&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="男" {%if user.gender == '男'%}checked{%endif%}/>男 &nbsp;&nbsp;<input type="radio" name="gender" value="女" {%if user.gender == '女'%}checked{%endif%}/>女</div>
<div class="input">
  birthday&nbsp;<input id="birthday" value="{{user.birthday|default:''}}" />
  grade&nbsp;<select id="grade">
    {%for s in grades%}
    <option value="{{s}}" {%if user.grade == s%}selected{%endif%}>{{s|get_name:"grade"}}</option>
    {%endfor%}
    </select>

</div>

<div class="input">customer1&nbsp;<input id="customer1" value="{{user.customer1|default:''}}" /></div>
<div class="input">c1tel&nbsp;<input id="c1tel" value="{{user.c1tel|default:''}}" /></div>
<div class="input">c1wechat&nbsp;<input id="c1wechat" value="{{user.c1wechat|default:''}}" /></div>
<div class="input">c1email&nbsp;<input id="c1email" value="{{user.c1email|default:''}}" /></div>

<div class="input">status&nbsp;<select id="status">
  <option value="1" {%if user.status == 1%}selected{%endif%} >free</option>
  <option value="2" {%if user.status == 2%}selected{%endif%}>缴费</option>
  <option value="0" {%if user.status == 0%}selected{%endif%}></option>
</select>
</div>

<div  onclick="saveuser()" style="padding:20px;text-align:center;"><button style="width:80%;height:40px;">Save</button>
{% endblock %}

{% block scripts %}
    <script>

        function saveuser() {

          var gender = $("input[name=gender]:checked").val();
          var name = $("#name").val();
          if(name==''){
                alert('name！');
                return;
          }

            $.post("{% url 'User:api_userEdit' %}", {
                "userId":'{{user.id}}',
                "name": name,
                "name2": $("#name2").val(),
                "location": $("#location").val(),
                "timezone": $("#timezone").val(),
                "gender": gender,
                "birthday": $("#birthday").val(),
                "customer1": $("#customer1").val(),
                "c1tel": $("#c1tel").val(),//JSON.stringify(students),
                "c1wechat": $("#c1wechat").val(),
                "c1email": $("#c1email").val(),
                "status": $("#status").val(),
                "grade": $("#grade").val(),
                "isReferrer":$("#isReferrer").is(':checked'),
                "referrer":$("#referrer").val()
            }, function (res) {
                alert(res["msg"]);
                if(res["error"]==0){
                    var url = "{% url 'User:userList' %}";
                    window.location.href = url;
                }

            });


        }

    </script>
{% endblock %}
