{% extends "base2.html" %}
{%load filter%}
{% block content %}

<style>
  .container{background-color: transparent;}
body{
  background-image: url('/static/images/{%if page == 'ermao' %}ermao{%else%}horse-20220714{%endif%}.jpg');
  background-size: 100%;
}
div{
  background-color: transparent;
}
.datetime{
  width:100%;text-align:center;background-color: transparent;
  font-size:16px;

}
.dot{
  width:210px;
}
</style>

<div class="datetime" id="date" style="padding-top:86px;"></div>
<div class="datetime" id="time" style="padding-top:0px;"></div>
<div class="datetime" id="dot" style="padding-top:6px;"><img class="dot" src="" /></div>
{%if page == 'ermao'%}<div class="datetime" style="width:92%;padding-top:228px;text-align:end;">李*</div>{%endif%}
<div class="datetime" style="width:92%;padding-top:{%if page == 'ermao'%}8{%else%}228{%endif%}px;text-align:end;">11**************{%if page == 'ermao'%}32{%else%}1X{%endif%}</div>
<div class="datetime" id="checktime" style="width:92%;padding-top:8px;text-align:end;"></div>
<div class="datetime" id="oktime" style="width:92%;padding-top:8px;text-align:end;padding-bottom:110px;color:rgb(219,57,62);"></div>
{%if page == 'ermao'%}
<img src="/static/images/ermao1.png" style="position:absolute;top:288;left:48;width:76px;"/>
{%endif%}
{% endblock %}

{% block scripts %}
<script>
    var now = new Date();
var timer = 0
var timer2 = 0
function currentTime(){
  var today = new Date();
  var month = today.getMonth()+1;
  var day = today.getDate()
  if(month<10)month='0'+month
  if(day<10)day='0'+day
  var date = today.getFullYear()+'年'+(month)+'月'+day+'日'
  $('#date').html(date)
  var hour = today.getHours();if(hour<10)hour='0'+hour
  var min = today.getMinutes();if(min<10)min='0'+min
  var sec = today.getSeconds();if(sec<10)sec='0'+sec

  $('#time').html(hour+":"+min+":"+sec)
  $('#checktime').html(month+"-"+day+' '+"{%if page == 'ermao'%}05:33{%else%}04:47{%endif%}")
  $('#oktime').html(month+"-"+day+' '+"24:00")

  let t = setTimeout(function(){ currentTime() }, 1000);
}
currentTime();

function dots(){
  timer = timer + 1
  $('#timer').html(timer)
  if(timer%2==0)

      $('#dot').html("<img class='dot' src='/static/images/dot1{%if page == 'horse'%}-blue{%endif%}.png' />")
  else
      $('#dot').html("<img class='dot' src='/static/images/dot2{%if page == 'horse'%}-blue{%endif%}.png' />")
  let t2 = setTimeout(function(){ dots() }, 700);
}
dots()




</script>
{% endblock %}
