{% extends "base.html" %}
{%load filter%}
{% block content %}

<style>
  .container{background-color: #fff;}


  </style>
<div style="height:10px;"></div>
<div style="font-size:20px;padding:5px;">课程安排</div>
<div>

</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    console.log($( document ).width());
    console.log($( window ).width());
    var wid = $( document ).width();
    $(".header").css("width",wid);
    wid = $( window ).width()/3*0.9;
    $(".week").css("width",wid);

  });
  //$( ".block" ).animate({ "left": "-=70px" }, "fast" );


function goCourse(courseId){
  var para = "?courseId="+courseId
  document.location.href="{% url 'Teacher:courseEdit' %}"+para
}
</script>
{% endblock %}
